body {
    background-image: url(/images/bg.png);
    text-align: center;
    color: rgb(0, 51, 63);
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
}

#workspace {
    width: 600px;
    min-height: 300px;
    border: 5px dashed blue;
    margin: 0 auto;
    position: relative;
}

#workspace img {
    width: 600px;
}

#caption {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    width: 400px;
    font-size: 32px;
    color: blue;
    margin: 0;
}

header {
    padding: 15px;
    box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
    background-image: url(/images/darth_stripe.png);
    color: white;
    font-size: 26px;
}

#add-text {
    padding: 10px;
}

#caption-text {
    width: 600px;
    text-align: center;
}

input {
    font-size: 16px;
}

#style-caption {
    padding: 10px;
}

#caption-controls {
    padding: 20px;
    font-size: 16px;
}

#caption-controls input[type="number"] {
    width: 50px;
}

footer {
    background-color: rgba(255,0,255,0.01);
    padding: 10px;
    text-align: left;
    font-size: 12px;
    box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
}

#footer {
    margin: 0 auto;
    width: 800px;
}

footer img {
    float: left;
    margin-right: 40px;
    width: 240px;
}

/*10 px margin at top and bottom and 0 for left and right*/
footer div {
    margin: 10px 0;
}