<!DOCTYPE html>
<html>
<head>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/javascripts/Scorer.js"></script>
    <script src="/javascripts/application.js"></script>
    <title>Bowling Game by omajul</title>
</head>
<body>
    <header>
        <h1>Bowling</h1>
    </header>
    
    <section id="select-image">
        <div id="workspace">
            <p id="caption"></p>
        </div>
    </section>
    
    <footer>
        <div id="footer">
            <a href="http://www.makersacademy.com/" target="_blank"><img src="http://assets.makersacademy.com/images/logo/ma-wordmark-red.png"></a>
            <div>
              I built this with help from
              <a href="http://www.makersacademy.com" target="_blank">Makers Academy</a>, a selective web development bootcamp in London.
            </div>
            <div>
              This page uses Google Image search, Ruby, Sinatra, Javascript, jQuery, HTML and CSS.
            </div>
        </div>
    </footer>
</body>
</html>