body {
    background-image: url(/images/bg.png);
    font-family: Helvetica, Arial;
}

header {
    padding: 15px;
    box-shadow: 1px 0 3px rgba(0,0,0, 0.3);
    background-image: url(/images/darth_stripe.png);
    color: white;
    font-size: 26px;
}

footer {
    background-color: rgba(255,0,255,0.01);
    padding: 10px;
    text-align: left;
    font-size: 12px;
}

#footer {
    margin: 0 auto;
    width: 800px;
}

footer img {
    float: left;
    margin-right: 40px;
    width: 240px;
}

/*10 px margin at top and bottom and 0 for left and right*/
footer div {
    margin: 10px 0;
}

#score-in-frame {
    text-align: center;
}

#totalScore {
    color: red;
    position: relative;
    font-size: 26px;
}
